.wall {
  .header {
    margin-top: 30px;
    &>p {
      text-align: center;
      width: 100%;
      background: #878E91;
      color: #fff;
      line-height: 60px;
      cursor: pointer;
      transition: .2s all;
      user-select: none;
      &:active {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.2);
      }
    }
    &>div {
      background: #ddd;
      height: 0px;
      transition: .2s all;
      opacity: 0;
      .login-form {
        display: none;
      }
      &.show {
        height: 320px;
        opacity: 1;
        .login-form {
          display: block;
        }
      }
      .login-form {
        width: 500px;
        margin: 0 auto;
        .ant-btn {
          margin-right: 10px;
        }
      }
    }
  }

  .main {

  }
}