.home {
  &>header {
    border-bottom: 1px solid #ddd;
    &>ul {
      overflow: hidden;
      line-height: 40px;
      margin-bottom: 0;
      li {
        float: left;
        margin: 0 20px;
        padding: 0 5px;
        list-style: none;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        &.active {
          border-bottom-color: #1C92FF;
        }
      }
    }
  }
  &>main {
    min-height: calc(100vh - 90px);
  }
  &>footer {
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #ddd;
  }
}