.index {
  height: 100%;
  background: url(../images/cover.png) no-repeat;
  background-size: 100% 100%;
  i {
    font-size: 30px;
  }
}
@font-face {
  font-family: 'iconfont';  /* project id 399500 */
  src: url('//at.alicdn.com/t/font_399500_6f592hwkdqe.eot');
  src: url('//at.alicdn.com/t/font_399500_6f592hwkdqe.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_399500_6f592hwkdqe.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_399500_6f592hwkdqe.woff') format('woff'),
  url('//at.alicdn.com/t/font_399500_6f592hwkdqe.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_399500_6f592hwkdqe.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiqiu:before { content: "\e662"; }